<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= article.title %></title>
</head>
<body>
    <div>
        <h1><%= article.title %></h1>
        <div>
            <%= article.createdAt.toLocaleDateString() %>
        </div>
        <a href="/">All Posts</a>
        <a href="/articles/edit/<%= article.slug %>">Edit</a>
        <div>
            <%= article.markdown %>
        </div>
    </div>
</body>
</html>